*.out
*.o
*.obj
*.exe
*.dSYM

tarefa00/bomdia
tarefa00/boanoite

tarefa01/swift
tarefa01/xou
tarefa01/primos

tarefa00/bomdia
tarefa00/boanoite

tarefa02/drama
tarefa02/cpf
tarefa02/auau

tarefa03/kernel
tarefa03/life
tarefa03/bobbie

tarefa04/matriz

tarefa05/deque_herois

tarefa06/gattaca

tarefa07/agenda
